fastapi
uvicorn
python-dotenv
python-multipart
requests
pillow
reportlab
sqlalchemy

crewai
crewai-tools

google-genai
groq

langchain
langchain-community

chromadb

opencv-python

pandas

aiofiles
